# Enable the Rewrite Engine
RewriteEngine On

# Rewrite /home to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^home$ index.php [L]

# Rewrite URLs to remove .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^/]+)$ $1.php [L]

# Rewrite blog URLs
RewriteRule ^blog/([^/]+)/?$ blog-view.php?url=$1 [L,QSA]
