RewriteEngine On
RewriteBase /web/yooma/


# Pretty URLs
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^home$ index.php [L]
RewriteRule ^body-massage-calicut$ about.php [L]
RewriteRule ^massage-service-in-calicut$ services.php [L]

# Redirects
RewriteRule ^services$ massage-service-in-calicut [R=301,L]
RewriteRule ^about$ body-massage-calicut [R=301,L]

# Remove .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^/]+)$ $1.php [L]

# Blog URLs
RewriteRule ^blog/([^/]+)/?$ blog-view.php?url=$1 [L,QSA]
